@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
    /* Color */
    --primary: #204D36;
    --secondary: #CFE2CC;
    --light: #F2F4E9;
    --yellow: #F1EBBB;
    --white: #ffffff;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary);
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
}

.btn {
    padding: 1.5rem 2.5rem;
    border-radius: 0.6rem;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-bold);

}

.btn-primary {
    background: var(--primary);
    border: none;
}

.btn-primary:hover {
    background: var(--yellow);
    color: var(--primary);
}

/* button secondary */

/* navbar */
.navbar {
    padding: 0 4.8rem;
    background: var(--light);
}

a.nav-link:hover {
    color: var(--primary);
    font-weight: var(--font-weight-bold);
}

a.nav-link {
    margin-right: 3rem;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    color: var(--primary);
}

a.nav-link:hover {
    font-weight: var(--font-weight-bold);
}

/* Hero */

section.hero {
    padding: 6rem 0;
    position: relative;
}

.hero {
    width: 100%;
    height: 50vh;
    background: var(--light);
    background-size: cover;
}

.hero-img {
    width: auto;
    height: 55vh;
    position: absolute;
    top: -2rem;
    right: 10rem;
}

.hero h1,
h2,
p {
    color: var(--primary);
}

/* highlight */

.highlight {
    height: auto;
    margin: 10rem;
}

.highlight h2,
h4,
p {
    color: var(--secondary);
}

.highlight-icon {
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
    background: var(--secondary);
    color: var(--primary);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.highlight-container h4 {
    margin-left: 2rem;
    display: inline-flex;
    align-items: center;
}

/* Process */

.process {
    width: 100%;
    height: auto;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--secondary);
}

.process-title {
    color: var(--primary);
    text-align: center;
}

.process-item {
    display: flex;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
}

.process-item li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
}

.process-icon {
    font-size: 3.5rem;
    margin: 0 6rem;
}

.process-text {
    font-size: 1.6rem;
}

.process-item .progress-list .progress {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(68, 68, 68, 0.781);
    margin: 14px 0;
    display: grid;
    place-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.progress::after {
    content: " ";
    position: absolute;
    width: 125px;
    height: 5px;
    background-color: rgba(68, 68, 68, 0.781);
    right: 30px;
}

.one::after {
    width: 0;
    height: 0;
}

.process-item .progress-list .progress .uil {
    display: none;
}

.process-item .progress-list.progress p {
    font-size: 13px;
}

/* Active Css  */

.process-item .progress-list .active {
    background-color: #ff4732;
    display: grid;
    place-items: center;
}

.progress-list .active::after {
    background-color: #ff4732;
}

.process-item .progress-list .active p {
    display: none;
}

.process-item .progress-list .active .uil {
    font-size: 20px;
    display: flex;
}




/* Graph */

/* feedback */
.feedback{
    width: 100%;
    height: auto;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--light);
}
.carousel-indicators{
    color: #204D36;
}
/* Footer */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: var(--secondary);
    font-size: 1.6rem;
}


ul>li {
    padding: 4px;
    color: var(--secondary);
    font-size: 1.4rem;
}

ul>li:hover {
    color: #957bda;
    cursor: pointer
}

hr {
    border-width: 3px
}

.card {
    padding: 2% 0%
}

.social>i {
    padding: 1%;
    font-size: 15px
}

.social>i:hover {
    color: #957bda;
    cursor: pointer
}

.policy>div {
    padding: 4px
}

.heading {
    font-family: 'Titillium Web', sans-serif;
    color: black
}

.divider {
    border-top: 2px solid
}